<a href="/ice_cream_parlors">Parlor Index</a><br>
<a href="/flavors">Flavor Index</a>
<form action="/ice_cream_parlors/<%= @parlors.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <input type='text' name='ice_cream_parlor[name]' value="<%= @parlors.name %>"/><br/>
  <input name='ice_cream_parlor[open]' value="<%= @parlors.open %>"/><br/>
  <input type='text' name='ice_cream_parlor[street_number]' value="<%= @parlors.street_number %>"/><br/>
  <input type='submit'/>
</form>