<%= form_with url: "/coffee_roasts/#{@roast.id}", model: @roast, method: :patch, local: true do |form| %>
  <p><%= form.label :name %></br>
  <%= form.text_field :name %></p>
  <p><%= form.label :origin%></br>
  <%= form.text_field :origin %></p>
  <p><%= form.label :elevation %></br>
  <%= form.number_field :elevation %></p>
  <p><%= form.label :fresh %>
  <%= form.check_box :fresh %></p>
  <%= form.submit 'Update Coffee Roast' %>
<% end %>
