<a href="/coffee_roasts">Coffee Roast Index</a>
<h1><%= @roast.name %></h1>
<p>Origin: <%= @roast.origin%></p>
<p>Elevation: <%= @roast.elevation%></p>
<p>Fresh? <%= check_box_tag 'yes', '1', @roast.fresh, :disabled => true %></p>
<%= link_to "Update Coffee Roast", "/coffee_roasts/#{@roast.id}/edit" %>
<p>
<%= button_to 'Delete Coffee Roast', "/coffee_roasts/#{@roast.id}", method: :delete %>
</p>
