<form action="/coffee_company/<%= @company.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <h2>Edit</h2>
  <p>Name:</p>
  <input type='text' name='company[name]' value="<%= @company.name %>"/><br/>
  <p>Address:</p>
  <textarea name='company[address]'><%= @company.address %></textarea><br/>
  <p>Zipcode:</p>
  <input type='text' name='company[zipcode]' value="<%= @company.zipcode %>"/><br/>
  <p>
    <input type="checkbox" name="local" value="<%= @company.local %>" />
    <label for="local">Local?</label>
  </p>
  <input type='submit'/>
</form>
