<a href="/coffee_company">Coffee Company Index</a>
<h1><%= @company.name %></h1>
<p>Address: <%= @company.address%> <%= @company.zipcode %></p>
<p>Local? <%= check_box_tag 'yes', '1', @company.local, :disabled => true %></p>

<a href="/coffee_company/<%= @company.id %>/edit">Edit</a>
<form action="/coffee_company/<%= @company.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete"/>
</form>
