<h1>Coffee Companies</h1>
<% @companies.each do |company| %>
<p><%= link_to "#{company.name}", "/coffee_companies/#{company.id}" %>
 Created At: <%= company.created_at %>
<%= link_to 'Update', "/coffee_companies/#{company.id}/edit" %></p>
<%= button_to 'Delete', "/coffee_companies/#{company.id}", method: :delete, id: "@company.id"%>
<% end %>

<% if @companies.empty? %>
<h3> No Coffee Companies!</h3>
<% end %>
<%= link_to 'New Coffee Company', '/coffee_companies/new' %>
