<%= form_with url: "/coffee_companies", method: :post, local: true do |form| %>
  <p><%= form.label :name %></br>
  <%= form.text_field :name %></p>
  <p><%= form.label :address%></br>
  <%= form.text_field :address %></p>
  <p><%= form.label :zipcode %></br>
  <%= form.number_field :zipcode %></p>
  <p><%= form.label :local %>
  <%= form.check_box :local %></p>
  <%= form.submit 'Create Company' %>
<% end %>
