<%= link_to "Coffee Company Index", "/coffee_companies" %>
<h1><%= @company.name %></h1>
<p>Number of Coffee Roasts: <%= @roast_count %></p>
<%= link_to "View Roasts", "/coffee_companies/#{@company.id}/coffee_roasts" %>
<p>Address: <%= @company.address%> <%= @company.zipcode %></p>
<p>Local? <%= check_box_tag 'yes', '1', @company.local, :disabled => true %></p>

<a href="/coffee_companies/<%= @company.id %>/edit">Update Company</a>
<p>
<form action="/coffee_companies/<%= @company.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Company"/>
</form>
</p>
