<a href="/ice_cream_parlor">Parlor Index</a><br>
<a href="/flavor">Flavor Index</a>
<h1><%= @parlors.name %></h1>
<p>Number of Flavors: <%= @flavor_count %></p>
<p>Street Number: <%= @parlors.street_number%></p>
<p>Open? <%= check_box_tag 'yes', '1', @parlors.open, :disabled => true %></p>

<a href="/ice_cream_parlor/<%= @parlors.id %>/edit">Update Parlors</a>
<p>
<form action="/ice_cream_parlor/<%= @parlors.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Parlor"/>
</form>
</p>