<h1>Coffee Roasts</h1>
<%= form_with url:"/coffee_companies/#{@company.id}/coffee_roasts", method: :get, local: true do |form| %>
<%= form.text_field :elevation_number %>
<%= form.submit 'Only return records with more than #num in elevation' %>
<% end %>
</br>
<%= form_with url:"/coffee_companies/#{@company.id}/coffee_roasts", method: :get, local: true do |form| %>
<%= form.hidden_field :alphabetical %>
<%= form.submit 'Sort Alphabetically' %>
<% end %>
</br>

<% @roasts.each do |roast| %>
  <h3><%= link_to "#{roast.name}", "/coffee_roasts/#{roast.id}" %></h3>
<% end %>

<% if @roasts.empty? %>
<h3> No Coffee Roasts!</h3>
<% end %>
<%= link_to "New Coffee Roast","/coffee_companies/#{@company.id}/coffee_roasts/new" %>
