<%= form_with url: "/coffee_companies/#{@company.id}/coffee_roasts", method: :post, local: true do |form| %>
  <p><%= form.label :name %></br>
  <%= form.text_field :name %></p>
  <p><%= form.label :origin%></br>
  <%= form.text_field :origin %></p>
  <p><%= form.label :elevation %></br>
  <%= form.number_field :elevation %></p>
  <p><%= form.label :fresh %>
  <%= form.check_box :fresh %></p>
  <%= form.submit 'Create Coffee Roast' %>
<% end %>
